@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Source Serif';
	src: url('/fonts/Source_Serif_4/SourceSerif4-VariableFont.ttf');
}

:root {
	--blue: 0, 123, 255;
	--meep: 255, 220, 0;
	--black: 68, 68, 82;
}

body {
	color: rgb(var(--black));
	font-family: 'Source Serif', serif;
}
